body{
    background-color: grey;
}

/*Navbar colors*/
.bg-body-tertiary{
    background-color: red !important;
}

/*Table styles*/
.table-responsive {
    max-height:400px;
}

/*Buttons styles*/
.btn-danger{
    background-color: red;
}

#submit-button{
    margin-top: 10px;
    margin-bottom: 20px;
}